<% if user_signed_in? %>
  <div class="text-center bg-light col-md-12">
    <div></div>
    <h3><%= current_user.nick_name %></h3>
    <br>
    <p>いいねした数<%= current_user.likes_count %></p>
    <p>称号： <%= like_status %></p>
  </div>
<% end %>