<div class="jumbotron col-md-12 mt-3">
  <h1>Cheer Appへようこそ</h1>
  <div class="mb-5">
    <p>
      このアプリは褒めることに特化したSNSです。<br>
      褒められたいことを投稿して、いいねをもらって元気をもらいましょう。
    </p>
  </div>
  <h2 class="my-3">Concept</h2>
  <div>
    <p>
      子供のころはご飯を残さず食べたからとほめられた。<br>
      社会人になると日常生活においてほめられることは稀です。<br>
      プログラマーがどんなに素晴らしいコードを書こうが、<br>
      主婦がどんなに美味しい食事を作ろうが感謝される機会はごくごく少ないのである。<br>
      そこで私たちは裏方さんを中心にいつも頑張っているあの方たちへ<br>
      感謝の気持ちをコンセプトにこの「ほめられサロン」を制作しました。
    </p>
  </div>
</div>