<!-- app/views/books/_form.html.erb -->

<%= form_with model: post, local: true do |form| %>
  <%= render "shared/errors", obj: post %>
  <div class="form-group">
    <%= form.text_area :body, rows: 10, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>